html ,body{
    margin:0;
    padding: 0;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif

}
*{
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    overflow-x: ;
}



#main{
    background-color: #EEEEEE;
    margin:2rem .5rem;
    border-radius: 1%;
    text-align: center;
    opacity: .85;
    
}
#title{
    padding-top:2.5rem;
}
h1{
    font-size:2.5rem;
    font-weight:700;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(51, 51, 51);
    padding-bottom:.3.5rem; 
}
.name-caption{
    font-weight: 400;
    font-size:1rem;
}
#img-div{
    background-color: #FFFFFF;
    margin:1.2rem 1rem;

}
#image{
    opacity:.97;
    display: block;
    max-width:100%;
    height:auto;
    margin:1rem auto 0;
    padding-top:.5rem;
    

}
#img-caption{
    margin-top:0;
    padding:1.2rem 0;
    font-weight: 400;
    font-size:1rem;
}
#tribute-info{
    padding:1rem 0 1.0rem 0;
}
.info-heading{
    font-weight: 700;
    font-size:1.17rem ;
}
.list-container{
    margin: 3.5rem auto 0;
    width:50vw;
    text-align:start;
    font-weight:400px;
    font-size:1rem;
}


.list-container li:not(:last-child) {
    padding-bottom:1.5rem;
}
.list{padding-bottom:2.2rem;}

.quote{

    margin:1.5rem auto .5rem;
    width:50vw;
    text-align: start;
    padding-left:1.8rem;
}
blockquote{
    margin:0 0 1.5rem 0;
}


.biography-link{
    font-weight:700;
    font-size:1.17rem;
    width:100vw;
    margin-top: 0;
    padding:1.5rem 0;
   
}



